.NotFoundScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.FullScreen{
  height: calc(100vh - 144px);
}

.InView{
  padding-top: 80px;
  height: 100%;
}

.bg--dark {
  background-color: #000000;
}

.bg--light {
  background-color: #ffffff;
}

.NotFoundScreen--Logo {
  height: 48px;
}

.color--light {
  filter: invert(100%);
}

.NotFoundScreen--Title {
  font-size: 32px;
  max-width: 520px;
  text-align: center;
  line-height: 56px;
}
.title--light {
  color: #000000;
}

.title--dark {
  color: #ffffff;
}

.NotFoundScreen--Chevron {
  filter: invert(43%) sepia(56%) saturate(7181%) hue-rotate(200deg)
    brightness(102%) contrast(105%);
  height: 16px;
}

.NotFoundScreen--LinkContainer {
  all: unset;
  cursor: pointer;
  color: #007aff;
  font-size: 24px;

  display: flex;
  gap: 8px;
  align-items: center;
}
