.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  height: 416px;
  width: 346px;
  min-width: 346px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  
  cursor: pointer;
}

.Card--dark{
  background-color: #1A1A1C;
}
.Card--light{
  background-color: #f5f5f7;
}

.ContentContainer--Text{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.ContentTitle {
  font-weight: 590;
  font-size: 24px;
  line-height: 41px;
}
.ContentDescription {
  width: 248px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ContentTitle--light{
  color: #000000;
}
.ContentTitle--dark{
  color: #ffffff;
}



.ContentDescription--light{
  color: #000000;
}
.ContentDescription--dark{
  color: #c2c2c2;
}


.PictureContainer{
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Picture{

  max-height: 150px;
}

.Price {
  font-weight: 590;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.2px;

  color: #0a84ff;
}
