.TileCard{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 62px;
    height: 480px;
    min-width: 400px;
}

.TileCard--light{
    background-color: #F5F5F7;
}
.TileCard--dark{
    background-color: #1A1A1C;
}

.TilePictureContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.TilePicture{
   width: 90%;
   max-width: 800px;
   max-height: 250px;
}