.Footer{
    height: 144px;
    padding: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Footer--dark{
    background-color: #1A1A1C;
}

.Footer--light{
    background-color: #F5F5F7;
}


.FooterDivider{
    width: 100%;
    padding-top: 30px;
}

.FooterDivider--light{
    border-top: 1px solid #cfcfcf;
}
.FooterDivider--dark{
    border-top: 1px solid #303033;
}

.FooterContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #7c7c7c;
    
}