.ProductDetail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 68px;
  min-height: 70vh;
}

.ProductDetail--PictureContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 590px;
  background-color: #f5f5f7;
  border-radius: 32px;

}

.ProductDetail--Picture {
  width: 80%;
  object-fit: contain;
  border-radius: 16px;
  max-height: 480px;
}

.ProductDetail--SidePanelContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.SidePanel--Header {
  font-weight: 590;
  font-size: 16px;
  line-height: 19px;
}

.SidePanel--Models {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 8px;
  width: 100%;
  height: 380px;
  overflow-y: scroll;
}

/* width */
.SidePanel--Models::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.SidePanel--Models::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
.SidePanel--Models::-webkit-scrollbar-thumb {
  background: #f5f5f7;
  border-radius: 8px;
}

/* Handle on hover */
.SidePanel--Models::-webkit-scrollbar-thumb:hover {
  background: #e4e4e4;
}

.ModelContainer {
  display: flex;
  justify-content: space-between;
  border: 1px solid #8e8e93;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;

}

.ModelContainer:hover {
  outline: 2px solid #8e8e93;
  outline-offset: -2px;
}

.selected, .selected:hover{
  outline: 2px solid #0A84FF;
  outline-offset: -2px;
}

.Model--Details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Model--Title,.Model--Price {
  font-weight: 400;
  font-size: 24px;
}
.Model--Price {
  font-weight: 590;
}

.Model--Description {
  font-weight: 400;
  font-size: 16px;
}


.SidePanel--TotalDetails{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom: solid 1px #545458A6;
    width: 100%;
    padding: 8px 0px;
}
.TotalDetails--SubtotalTitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 19px;
}

.TotalDetails--SubtotalValue {
  font-weight: 590;
  font-size: 32px;
  line-height: 38px;
}
